@import url('https://fontlibrary.org/face/fantasque-sans-mono');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700');

* { outline: none; }
body, html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: #222;
}


#post, .computer {
  height: calc(100vh - 5rem);
  margin: 1em;
}

#post {
  width: 14em;
  float: left;
  padding: 1.5em;
}
.computer {
  width: 44em;
  float: right;
}
