#post {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#post input, #post #code, #post select {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
#post input:last-child {
  margin: 0;
}
#post input[name=title] {
  border: none;
  border-bottom: 1px dotted #ccc;
  font-size: 1.5em;
}

#post #code {
  padding: 0.5em;
  width: calc(100% - 1em);
  margin: 0 0 1em 0;
  resize: none;
  height: calc(100% - 13em);
  font-family: 'FantasqueSansMonoRegular', monospace;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

#post select {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background: none;
}

#post input[type=submit] {
  background: #fff;
  color: #333;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
#post input[type=submit]:active {
  background: #f3f3f3;
  border: 1px solid #ccc;
}
#post input[type=submit]:hover {
  background: #f8f8f8;
}
